/* ------============= Search Bar =========--------------- */
* {
  font-family: "Poppins";
}
.nav-wrapper {
  background-color: #0043ff;
  height: 56px;
}
#search-field {
  background-color: rgb(107, 146, 252);
  float: right;
  width: 22%;
  height: 70%;
  border-radius: 2px;
  margin-right: 20px;
  margin-top: 9px;
  /* margin-bottom: 20px; */
}
#search {
  margin-top: 5px;
  font-size: 16px;
  background-color: transparent;
}
#search::placeholder {
  color: rgb(231, 231, 231);
  opacity: 0.8;
}
nav i.material-icons {
  line-height: 42px;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
  height: 56px;
  line-height: 43px;
}

/* ---------=============== nav header ===============------------- */
#header {
  margin-left: 305px;
  margin-top: 7px;
  font-size: 28px;
}
/* ------------============== sidenav=============----------- */
.sidenav {
  width: 270px;
}
#logo-text {
  color: #0043ff;
  font-size: 28px;
  margin-top: 4px;

  font-weight: bold;
}

.sidenav .divider {
  margin: 2px 0 0 0;
  width: 92%;
  height: 2px;
  margin-left: 10px;
  background-color: white;
  border-bottom: 1px solid #a7a7a7;
}
#dashboard {
  margin-left: 30px;
  color: #797979;
  font-size: 14px;
  font-weight: bolder;
  text-transform: uppercase;
}
.content li > a > i.material-icons {
  color: black;
}
.content li.active {
  background-color: rgb(223, 223, 255);
}
.content li:hover {
  background-color: rgb(240, 241, 255);
}

/* collaps */
.container .collapsible img {
  width: 60px;
  height: 60px;
  margin-top: 7px;
}

.name {
  margin-top: 0px;
  margin-left: 20px !important;
}
.name p {
  margin-top: 0px;
  height: 10px;
  font-size: 13px;
  color: #797979;
}
.name strong {
  font-size: 15px;
  font-weight: bold;
}
.arrow {
  margin-top: 12px;
  color: #666565;
}
.row .col.s6 {
  width: 50%;
  margin-bottom: 0px;
}
.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
  height: 70px;

  margin-bottom: 0px;
}
.logout a {
  width: 90%;
  font-size: 16px;
  color: #000000;
}

.change-color a,
.change-color a i {
  color: blue !important;
}

/* ----------====== table css =======--------- */

.tablebill {
  margin-right: 50px;
  margin-left: 300px;
}
section {
  margin-left: 300px;
  margin-top: 200px;
}

#lower .totalamount {
  float: left;
  font-size: 20px;
}
#lower .paidamount {
  float: left;
  font-size: 20px;
}

/* -----======= model content css ========--------- */
body {
  background: #f3f3f3;
}

.modal {
  max-height: 90%;
  overflow: hidden;
  margin-top: 0%;
  width: 37%;
  top: 0;
}

table,
th,
td {
  text-align: center;
}

.alignleft {
  float: left;
}

.alignrightDate {
  float: right;
  margin-right: 120px;
}

.alignright {
  float: right;
}
hr {
  border: dashed 0.1px;
}
.lower-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  position: fixed;
  width: 80%;
  bottom: 25px;
}
