body {
  background-color: #f3f3f3;
}
.container-device {
  margin-left: 360px;
}

.device-list {
  margin-left: 25px;
  margin-right: 15px;
  margin-top: 50px;
  padding: 10px;
  float: left;
  width: 200px;
}
.device-name {
  font-size: 22px;
  color: black;
}

.device-active {
  font-size: 15px;
  color: #32cd32;
}

.device-icon {
  font-family: "Material Icons";
  font-weight: normal;
  float: left;
  font-style: normal;
  font-size: 60px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #32cd32;
}

/* .inactive-devices {
	margin-top: 40px;
	background-color: #F5F5F5;
} */

table {
  border-collapse: collapse;
  width: 90%;
  margin-left: 30px;
}

td,
th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  font-size: 18px;
}

/*
.scrollable {
    height: 330px;
    overflow-y: auto;
}
*/
.add {
  background-color: #0043ff;
}

.add-employee .btn-floating {
  background-color: #0043ff;
  color: aliceblue;
}

.add-employee {
  float: right;
  margin-top: 30px;
  margin-right: 110px;
}

.add:hover {
  background-color: #00c301;
}

.edit {
  font-size: 25px;
  padding-left: 10px;
  color: #0043ff;
}
.trash {
  font-size: 25px;
  padding-left: 10px;
  color: red;
}

table .btn,
.btn:hover {
  background-color: transparent;
  /* box-shadow: none; */
}

.status {
  margin-left: 360px;
}
.status h4 {
  margin: 0;
}
.status .row {
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  padding-left: 55px;
}
.status .stat .text {
  font-size: 16px;
  color: rgb(90, 89, 92);
}
.status .stat h4 {
  color: black;
}
.status .stat #total {
  color: #0043ff;
}
.status .stat #active {
  color: #0fca1e;
}
.status .stat #offline {
  color: #e60f0f;
}
.status .stat #alert {
  color: #eca712;
}
