.container-employee {
  margin-left: 300px;
}
body {
  background-color: #f3f3f3;
}

table {
  background-color: #ffffff;
  margin-left: 7px;
  width: 1175px;
}
table .btn,
.btn:hover {
  background-color: transparent;
  box-shadow: none;
}

td,
th {
  border: none;
  /* text-align: left !important; */
}
th {
  font-size: 15px;
}
td {
  padding: 9px;
}
.container-employee .card {
  width: 1190px;
  margin-left: 0px;
}
.pagination .btn {
  background-color: #0043ff;
  color: aliceblue;
}
.add-employee .btn-floating {
  background-color: #0043ff;
  color: aliceblue;
}
.edit {
  font-size: 15px;
  border-radius: 50%;
  background-color: #0043ff;
  /* padding-left: 5px; */
  color: #ffffff;
  width: 36px;
}
.trash {
  font-size: 15px;
  border-radius: 50%;
  background-color: red;
  /* padding-left: 5px; */
  color: rgb(255, 255, 255);
  width: 36px;
}
.pagination {
  margin-top: 40px;
  margin-left: 35px;
  float: left;
}
.previous {
  background-color: #0043ff;
}
.next {
  background-color: #0043ff;
  margin-left: 10px;
}
.add {
  background-color: #0043ff;
}

.add-employee {
  float: right;
  margin-top: 40px;
  margin-right: 110px;
}
.previous:hover {
  background-color: #00c301;
}
.next:hover {
  background-color: #00c301;
}
.add:hover {
  background-color: #00c301;
}
i:hover {
  color: white;
}
.lower-section {
  position: fixed;
  width: 84%;
  bottom: 10px;
}
.star {
  -webkit-text-security: disc;
}
