body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

body {
  background: #fff;
}
.blue-text {
  color: #0043ff !important;
}
h4{
  margin-top: 0px;
  /* margin-bottom: 10px; */
}
/* .blue {
  color: #0043ff !important;
} */

#btnlogin{
  margin-bottom: 8px;
}
#avatar {
  width: 150px;
}



#login-box .input-field input[type="text"]:focus + label ,
#login-box .input-field input[type="password"]:focus + label {
  color: #0043ff;
}
#login-box .input-field input[type="text"]:focus,
#login-box .input-field input[type="password"]:focus {
  border-bottom: 2px solid #0043ff !important;
  
}
/* Valid color */
#login-box .input-field input[type=text].valid,
#login-box .input-field input[type="password"].valid {
  border-bottom: 2px solid #0043ff;
  box-shadow: none;
}
/* invalid color */
#login-box .input-field input[type=text].invalid,
#login-box .input-field input[type="password"].invalid {
  border-bottom: 2px solid rgb(255, 0, 0);
  box-shadow:none;
}
#login-box .prefix.active{
  color: #0043ff ;
}

.col .row{
  margin-bottom: 0px;
}

#login-box {
  display: inline-block;
  padding: 32px 48px 0px 48px;
  border: 1px;
  margin-top: 100px;
}

