.container-product {
	margin-left: 300px;
}
body {
	background-color: #dcdcdc;
}

.container-product .card {
	width: 1160px;
	margin-left: 0px;
}
.pagination .btn {
	background-color: #0043ff;
	color: aliceblue;
}

.add-employee .btn-floating {
	background-color: #0043ff;
	color: aliceblue;
}

.edit {
	font-size: 25px;
	color: #0043ff;
}
.trash {
	font-size: 25px;
	color: red;
}
.pagination {
	margin-top: 30px;
	margin-left: 35px;
	float: left;
}
.previous {
	background-color: #0043ff;
}
.next {
	background-color: #0043ff;
	margin-left: 10px;
}
.add {
	background-color: #0043ff;
}

.add-product {
	float: right;
	margin-top: 20px;
	margin-right: 110px;
}
.previous:hover {
	background-color: #00c301;
}
.next:hover {
	background-color: #00c301;
}
.add:hover {
	background-color: #00c301;
}
.table-card {
	box-shadow: 0px 0px 16px 0px;
	width: 95%;
}
.btn {
	border-radius: 50px;
	background-color: transparent;
	opacity: 0.9;
	border: #0043ff 1px solid;
	box-shadow: 0px 0px 16px 0px;
}
.btn:hover {
	background-color: #0043ff;
}
i:hover {
	color: white;
}
table {
	background-color: white;
}
